<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>Contact Information</title>
  <style>
    #text-box {
      display: inline-block;
    }
  </style>
</head>
<body>
  <div class="container">
    <br>
    <div class="row center-align">
      <a class="waves-effect waves-light btn" href="/">Home | </a>
      <a class="waves-effect waves-light btn cyan" href="/portfolio">Portfolio | </a>
      <a class="waves-effect waves-light btn cyan" href="/Contact">Contact</a>
    </div>
    <hr>
    <div class="row">
      <h3 class="center-align">Contact Me!</h3>
    </div>
    <div class="row">
      <form class="col s6">
        <div class="text-box" class="row">
          <div class="input-field col s6">
            <input placeholder="Name" id="name" type="text" class="validate">
            <label for="name">Name</label>
          </div>
          <div class="input-field col s6">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Textarea</label>
          </div>
        </div>
        </div>
        <div class="text-box" class="row">
          <div class="input-field col s6">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit<i class="material-icons right"/i>
        </button>
      </form>
    </div>
  </div>
</body>
</html>