<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>Portfolio</title>
</head>
<body>
  <div class="container">
    <br>
    <div class="row center-align">
      <a class="waves-effect waves-light btn pulse" href="/">Home | </a>
      <a class="waves-effect waves-light btn pulse cyan" href="/portfolio">Portfolio | </a>
      <a class="waves-effect waves-light btn pulse cyan" href="/Contact">Contact</a>
    </div>
    <hr>
    <div class="row">
      <h3 class="center-align">About Me</h3>
      <div class="col s6">
        <img src="https://images-na.ssl-images-amazon.com/images/I/41r0oAaPp0L._SX425_.jpg" alt="portfolio">
        <p class="center-align">Raymond Xu</p>
        <p class="center-align">I like stuff!</p>
      </div>
      <div class="col s6">
        <p class="center-align">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</body>
</html>